<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
        <!-- <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">Future point</a>
                    </div>
                </div>
            </nav>
        </header> -->
        <style>
            body {font-family: Arial, Helvetica, sans-serif;}
            .navbar img{
              margin-left: 10px;
              margin-right: 20px;
            }
        .navbar {  width: 100%;  background-color: rgb(17, 172, 233);  overflow: auto;}
        .navbar a {    padding: 12px;  color: white;  text-decoration: none;  font-size: 17px;}
        .navbar a:hover {  background-color: #000;border: #333;
                        border-radius: 20px;}
        .active {  background-color: #04AA6D;
        }
        .navbar img{
              margin-left: 10px;height: 70px;border: #333;
                        border-radius: 50%;
              margin-right: 20px;width: 120px;
            }
         
         /* Change color on hover */
         
         .navbar a:hover {
                         background-color: rgb(221, 211, 211);
                         color: rgb(8, 173, 44);border: #333;
                        border-radius: 20px;
                         }
         
         /* Active/current link */
         .navbar a.active {
                         background-color: rgb(14, 6, 6);
                         color: white;border: #333;
                        border-radius: 20px;
                         }
        @media screen and (max-width: 500px) {  .navbar a {    float: none;    display: block;  }} 
        .navbar{background: rgb(71, 220, 213);}    
         
         /* Style the body */  body {          font-family: Arial, Helvetica, sans-serif;          margin: 0;          }
         
        </style>
        <div class="navbar">
                      <img src="https://cdn.pixabay.com/photo/2016/06/13/07/59/pi-1453836_960_720.jpg" height="50px" width="80px" alt="" srcset="">
                         <a class="index" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
                         <a href="add-user"><i class="fa fa-fw fa-search"></i> Registratian</a> 
                         <a href="up"><i class="fa fa-fw fa-envelope"></i> Upload</a> 
                         <a href="about"><i class="fa fa-fw fa-envelope"></i> About</a> 
                         <a href="gallery"><i class="fa fa-fw fa-user"></i>Gallery</a>
                         <a href="a"><i class="fa fa-fw fa-user"></i> Students</a>
                       </div>
    <!-- /Header -->
