<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
</style>
</head>
<body>

<h2>Fixed/Sticky Footer Example</h2>
<p>The footer is placed at the bottom of the page.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nihil provident ea eaque ducimus similique veniam necessitatibus quam sint culpa, ex error eum quod iusto magni illum perferendis quibusdam debitis.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis aspernatur vel consequatur adipisci tempora error porro repudiandae quos odio, possimus odit! Dolores minima veniam eaque. Dignissimos reprehenderit aliquam temporibus?   
</p>
<div class="footer">
  <p>Footer</p>
</div>

</body>
</html> 
