<!DOCTYPE html>

<html>
  
<!--Meta Data-->
<meta charset="utf-8">
<meta name="language" content="en-us"/>  
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="shortcut icon" href="./favicon.png" type="image/png" />

<!--css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--css-->

<!--js-->
<!--google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
<!--google fonts-->
    <style>
        .staff-w3l {
    padding: 5em 0;
    background: #eee;
}
.staff-right h4 {
    font-weight:bold;
    font-size: 2em;
    color: #3B5998;
}
.staff-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.staff-left {
    float: left;
    width: 50%;
}
.staff-right {
    float: left;
    width: 50%;
    background: #fff;
    padding: 2em 2em .8em;
}
.staff-right ul {
    margin: 1em 0;
}
.statistics {
    padding: 5em 0;
	text-align:center;
}
.statistics-grids {
    margin-top: 3em;
}
.statistic {
    background: #ee6e73;
    padding: 2em 2em;
    border-radius: 50%;
    width: 100%;
	text-align:center;
}.what-w3 {
    padding: 5em 0;
    background: rgb(249, 245, 239);
}
.what-grid p {
    font-size: 1em;
    margin-top: 1em;
}
.what-bottom1 {
    margin-bottom: 2em;
}.about-grid h4 {
    font-size: 2em;
    color: #ee6e73;
    margin-bottom: 0.7em;
}
.about-grid p {
    font-size: 1em;
	margin-top:1em;	
}
.what-grid h4 {
    font-size: 2em;
    color: #ee6e73;
}
.what-grid p {
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
}
.what-bottom {
      margin-top: 2em;
}
    </style>
</head>
    
<body>
    <%- include('include/_header') %>
		<!--singh tutorial content-->
		<div class="content">
			<!--about sing tutorial-->
			<div class="about-w3">
				<div class="container">
					<h2 class="tittle">About Us</h2>
					<div class="about-grids">
                        <div class="col-md-12 about-grid">
                            <br/>
                            <h4 align="center">First Smart Class Provider Institute </h4><br/>
                        <p align="justify">Future point has been born out of the growing need for high quality coaching that could keep pace with the ever-changing global prospective in the field of education. We have started a journey, which will never end, journey which will take us to, to greater heights with each step. Making ‘Singh Tutorial’ progress towards it‘s rightful pace is not going to be a task of a single person or a small group of people. It can be done only with the active contribution of everyone- the management, the faculty, the administrative staff, the students, the parents and the well wishers. 
</p><br/>
                            <p align="justify">We reiterate out complete commitment to make Future point is the best institute in the field of education. With the increasing competitiveness in every sphere of life it is very important to make the “The Future Of India” robust in their concepts and confident in their life. The thorough analysis of the institutes present in Bangalore portrays the present scenario. Keeping in mind the preference of students and the parents, we have stepped into coaching institute with the intention of providing quality education and being the catalyst to their success.
</p>
                            <br/>
                            <h4 align="center">Our Mission</h4>
                            <p align="justify">We, being the young and enthusiastic, have taken up the responsibility of educating the “Young India” and building a better educated world in a manner which ensures that every student achieves success at every sphere of their life. At our institute you can find the appropriate conglomeration of enthusiasm and experience which sets us aside from rest of the institutes.
</p>
                            <br/><br/>
                            </div>
                        <div class="about-grid"><h4 align="center">What makes us different</h4></div>
						<div class="col-md-6 about-grid"> 
							<ul class="grid-part">
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Well Qualified & Educated Teachers</li>
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Digital Classes for all subjects</li>
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Video Lectures & Monthly Tests</li>
							</ul>
						 </div>
						<div class="col-md-6 video-grid">
							<ul class="grid-part">
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Sunday Open for Weak Students</li>
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Regular Progress Reports</li>
								<li><i class="glyphicon glyphicon-thumbs-up"> </i>Special Classes for Olympiads</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-->
			<!--specialty singh tutorial-->
				<div class="what-w3">
					<div class="container">
						<h3 class="tittle">What we do</h3>
						<div class="what-grids">
							<div class="col-md-6 what-grid">
								<div class="mask">
									<img src="https://www.ppic.org/wp-content/uploads/math-problems-on-chalkboard-768x512.jpg" class="img-responsive zoom-img" alt="singh tutorial balumath"/>
								</div>
								<div class="what-bottom">
									<h4>Smart Classes</h4>
									<p align="justify">We all know how helpful it is to remember something that is taught visually to us rather than the one that is read through pages after pages. Just imagine, how beneficial would it be for students to understand a chapter visually in class. The concept of smart class education is indeed a blessing to the students of the 21st Century. Technology is changing the way life functions and if it’s for the good, then why not go for it!</p>
								</div>
							</div>
							<div class="col-md-6 what-grid">
								<div class="what-bottom1">
									<h4>Special attention to weak students</h4>
									<p align="justify">We try to be a friend to the weak child. When a friendship is built, student starts loving his teacher and after that child obeys whatever his teacher says. Here mystery of student’s success lies in understanding and friendship between teacher and child.</p>
								</div>
								<div class="mask">
									<img src="https://resize.indiatvnews.com/en/resize/newbucket/730_-/2020/08/indian-college-students-1597237792.jpg" class="img-responsive zoom-img" alt="singh tutorial balumath"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--specialty-->
			<!--results of singh tutorial--->
						<div class="statistics-w3">
							<div class="container">
								<h3 class="tittle">Our Success Stories</h3>
								<div class="statistics-grids">
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>100%</h4>
											<h5>Success Rate</h5>
											<p>All the board students passed with merit. No students failed in school examinations.</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>100%</h4>
											<h5>Happy Students</h5>
											<p>We beleive that talent lies in happiness. We build healthy relationships to always keep them happy.</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>80%</h4>
											<h5>Doubt clear</h5>
											<p>Many of our students are able to clear thair doubn and get fun in learnig.</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>95%</h4>
											<h5>Awards</h5>
											<p>Our students won awards in their school competitions. Most of the toppers have joined us.</p>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
				
				<div class="staff-w3l">
					<div class="container">
						<h3 class="tittle">Faculty Members</h3>
						<div class="staff-grids">
							<div class="col-md-6 staff-grid">
								<div class="staff-left faculty">
									<img src="https://cdn.pixabay.com/photo/2014/05/31/23/16/teacher-359311__340.png" class="img-responsive" alt="singh tutorial faculty"/>
								</div>
								<div class="staff-right ">
									<h4>Pradeep Singh </h4>
									<ul>
										<li><i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i>  M.Sc. , B.Tech.</li>
                                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i>  Founder, Maths Dept.</li>
										<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +91-78081</li>
										<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> maihar</li>
									</ul>
                                        <br/>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-6 staff-grid">
								<div class="staff-left  faculty">
									<img src="https://cdn.pixabay.com/photo/2014/05/31/23/16/teacher-359311__340.png" class="img-responsive" alt="singh tutorial faculty"/>
								</div>
								<div class="staff-right">
									<h4>Kanchan Pathak </h4>
									<ul>
                                        <li><i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i>  M.A. , B.Ed.</li>
                                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i> Chemistry Dept.</li>
										<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +91-7808171</li>
										<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> tehar</li>
									</ul>
                                    <br/>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="staff-grids">
							<div class="col-md-6 staff-grid">
								<div class="staff-left faculty">
									<img src="https://cdn.pixabay.com/photo/2013/11/20/09/37/male-213729__340.jpg" class="img-responsive" alt="singh tutorial faculty"/>
								</div>
								<div class="staff-right ">
									<h4>V.K. Singh </h4>
									<ul>
                                        <li><i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i>  M.A., Eng</li>
                                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i> English Dept.</li>
										<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +91-7808451</li>
										<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> nai basti</li>
									</ul>
                                    <br/>
								</div>
                                
								<div class="clearfix"></div>
							</div>
							<div class="col-md-6 staff-grid">
								<div class="staff-left faculty">
									<img src="https://cdn.pixabay.com/photo/2013/11/20/09/37/male-213729__340.jpg" class="img-responsive" alt="singh tutorial faculty"/>
								</div>
								<div class="staff-right">
									<h4>Gajendra Verma</h4>
									<ul>
									    <li><i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i>  M.A. , B.Ed.</li>
                                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i> Science dept.</li>
										<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +91-78054171</li>
										<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> rajendra nagar</li>
									</ul>
									<br/>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div><%- include('include/_footer') %>
            <!--faculty--->
            
           